{{- if .Values.ingress.enabled -}}
{{- if .Values.openshift }}
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: {{ include "mcp-redhat-kb.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "mcp-redhat-kb.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.host }}
  host: {{ tpl .Values.ingress.host . }}
  {{- end }}
  port:
    targetPort: http
  tls:
    termination: {{ .Values.ingress.termination }}
    insecureEdgeTerminationPolicy: Redirect
  to:
    kind: Service
    name: {{ include "mcp-redhat-kb.fullname" . }}
    weight: 100
{{- else }}
{{- $host := required "Ingress hostname must be specified" (tpl .Values.ingress.host .) }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "mcp-redhat-kb.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "mcp-redhat-kb.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- with .Values.ingress.className }}
  ingressClassName: {{ . }}
  {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    - hosts:
        - "{{ $host }}"
      secretName: {{ .Values.ingress.tls.secretName }}
  {{- end }}
  rules:
    - host: "{{ $host }}"
      http:
        paths:
          - path: {{ .Values.ingress.path }}
            pathType: {{ .Values.ingress.pathType }}
            backend:
              service:
                name: {{ include "mcp-redhat-kb.fullname" $ }}
                port:
                  number: {{ $.Values.service.port }}
{{- end }}
{{- end }}
